USE [master]
GO
/****** Object:  Database [CODEAMAZ]    Script Date: 22/01/2021 7:29:11 AM ******/
CREATE DATABASE [CODEAMAZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CODEAMAZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CODEAMAZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CODEAMAZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CODEAMAZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CODEAMAZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CODEAMAZ]
GO
/****** Object:  Table [dbo].[BAIHOC]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIHOC](
	[MABH] [varchar](20) NOT NULL,
	[TENBH] [nvarchar](max) NULL,
	[NOIDUNGBH] [nvarchar](150) NULL,
	[MAKHOAHOC] [varchar](20) NULL,
 CONSTRAINT [PK_BAIHOC] PRIMARY KEY CLUSTERED 
(
	[MABH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUANKHOAHOC]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUANKHOAHOC](
	[ID_COMMENT] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME_CMT] [varchar](50) NULL,
	[MAKH_CMT] [varchar](20) NULL,
	[HOVATEN_CMT] [nvarchar](150) NULL,
	[ANHDAIDIEN_CMT] [nvarchar](150) NULL,
	[NOIDUNG_CMT] [nvarchar](max) NULL,
	[TIME_CMT] [datetime] NULL,
 CONSTRAINT [PK_BINHLUANKHOAHOC] PRIMARY KEY CLUSTERED 
(
	[ID_COMMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHANGE_PASS]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGE_PASS](
	[ID_CHANGE] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME_CHANGE] [varchar](50) NOT NULL,
	[OLDPASSWORD] [varchar](50) NULL,
	[NEWPASSWORD] [varchar](50) NULL,
	[CONFIRMNEWPASSWORD] [varchar](50) NULL,
	[TIMECHANGE] [datetime] NULL,
 CONSTRAINT [PK_CHANGE_PASS] PRIMARY KEY CLUSTERED 
(
	[ID_CHANGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [varchar](20) NOT NULL,
	[TENCD] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKIKHOAHOC]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKIKHOAHOC](
	[ID_DANGKI] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME_DK] [varchar](50) NOT NULL,
	[MAKHOAHOC] [varchar](20) NULL,
	[TENKHOAHOC] [nvarchar](200) NULL,
	[TG] [nvarchar](50) NULL,
	[ANHKH] [nvarchar](150) NULL,
	[TIME_DK] [datetime] NULL,
 CONSTRAINT [PK_HOCVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_DANGKI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MAKH] [varchar](20) NOT NULL,
	[TENKH] [nvarchar](200) NULL,
	[TACGIA] [nvarchar](50) NULL,
	[GIA] [decimal](18, 0) NULL,
	[ANHKHOAHOC] [nvarchar](150) NULL,
	[SOBAIGIANG] [int] NULL,
	[MUCTIEU] [nvarchar](max) NULL,
	[MOTANGAN] [nvarchar](max) NULL,
	[MOTAFULL] [nvarchar](max) NULL,
	[ANHMOTA] [nvarchar](150) NULL,
	[MACD] [varchar](20) NOT NULL,
 CONSTRAINT [PK__KHOAHOC__603F592CDB79E3F6] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[HOVATEN] [nvarchar](150) NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](15) NULL,
	[DIACHI] [nvarchar](250) NULL,
	[ANHDAIDIEN] [nvarchar](150) NULL,
	[ID_QUYEN] [varchar](15) NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[PASSWORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN_USER]    Script Date: 22/01/2021 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN_USER](
	[ID_QUYEN] [varchar](15) NOT NULL,
	[TENQUYEN] [varchar](50) NULL,
 CONSTRAINT [PK_QUYEN_USER] PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAIHOC] ([MABH], [TENBH], [NOIDUNGBH], [MAKHOAHOC]) VALUES (N'C#01', N'First C# Program', NULL, N'COBAN06')
INSERT [dbo].[BAIHOC] ([MABH], [TENBH], [NOIDUNGBH], [MAKHOAHOC]) VALUES (N'C#02', N'Biến', NULL, N'COBAN06')
INSERT [dbo].[BAIHOC] ([MABH], [TENBH], [NOIDUNGBH], [MAKHOAHOC]) VALUES (N'C#03', N'Các toán tử', NULL, N'COBAN06')
GO
SET IDENTITY_INSERT [dbo].[BINHLUANKHOAHOC] ON 

INSERT [dbo].[BINHLUANKHOAHOC] ([ID_COMMENT], [USERNAME_CMT], [MAKH_CMT], [HOVATEN_CMT], [ANHDAIDIEN_CMT], [NOIDUNG_CMT], [TIME_CMT]) VALUES (22, N'conghau', N'COBAN03', N'Hồ Công Hậu', N'avt-user.jpg', N'hay vl
', CAST(N'2021-01-03T13:07:59.640' AS DateTime))
INSERT [dbo].[BINHLUANKHOAHOC] ([ID_COMMENT], [USERNAME_CMT], [MAKH_CMT], [HOVATEN_CMT], [ANHDAIDIEN_CMT], [NOIDUNG_CMT], [TIME_CMT]) VALUES (23, N'conghau', N'COBAN03', N'Hồ Công Hậu', N'avt-user.jpg', N'tuyệt vời', CAST(N'2021-01-03T13:08:09.977' AS DateTime))
INSERT [dbo].[BINHLUANKHOAHOC] ([ID_COMMENT], [USERNAME_CMT], [MAKH_CMT], [HOVATEN_CMT], [ANHDAIDIEN_CMT], [NOIDUNG_CMT], [TIME_CMT]) VALUES (24, N'conghau', N'COBAN03', N'Hồ Công Hậu', N'avt-user.jpg', N'khóa học khá ok hahahah', CAST(N'2021-01-03T13:22:17.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[BINHLUANKHOAHOC] OFF
GO
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'COBAN', N'Lập trình cơ bản')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'CTDL', N'Cấu trúc dữ liệu và giải thuật')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'KHAC', N'Các ')
GO
SET IDENTITY_INSERT [dbo].[DANGKIKHOAHOC] ON 

INSERT [dbo].[DANGKIKHOAHOC] ([ID_DANGKI], [USERNAME_DK], [MAKHOAHOC], [TENKHOAHOC], [TG], [ANHKH], [TIME_DK]) VALUES (56, N'hau123', N'COBAN01', N'Bài Tập  Lập Trình Java Cơ Bản', N'Công Hậu', N'java-coban.jpg', CAST(N'2020-12-30T10:43:03.110' AS DateTime))
INSERT [dbo].[DANGKIKHOAHOC] ([ID_DANGKI], [USERNAME_DK], [MAKHOAHOC], [TENKHOAHOC], [TG], [ANHKH], [TIME_DK]) VALUES (57, N'conghaumb', N'COBAN01', N'Bài Tập  Lập Trình Java Cơ Bản', N'Công Hậu', N'java-coban.jpg', CAST(N'2021-01-09T10:05:02.587' AS DateTime))
INSERT [dbo].[DANGKIKHOAHOC] ([ID_DANGKI], [USERNAME_DK], [MAKHOAHOC], [TENKHOAHOC], [TG], [ANHKH], [TIME_DK]) VALUES (58, N'conghaumb', N'COBAN03', N'JavaScript Cơ Bản', N'Công Hậu', N'js-coban.jpg', CAST(N'2021-01-09T10:06:25.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[DANGKIKHOAHOC] OFF
GO
INSERT [dbo].[LOGIN] ([USERNAME], [PASSWORD], [HOVATEN], [EMAIL], [SDT], [NGAYSINH], [GIOITINH], [DIACHI], [ANHDAIDIEN], [ID_QUYEN]) VALUES (N'conghau', N'123456', N'Hồ Công Hậu', N'conghau2199@gmail.com', N'0382982924', CAST(N'1999-06-21' AS Date), N'Nam', N'Tòa B5, KTX Khu B, Đông Hòa, Dĩ An, Bình Dương', N'avt-user.jpg', N'ADMIN')
INSERT [dbo].[LOGIN] ([USERNAME], [PASSWORD], [HOVATEN], [EMAIL], [SDT], [NGAYSINH], [GIOITINH], [DIACHI], [ANHDAIDIEN], [ID_QUYEN]) VALUES (N'conghaumb', N'123456', N'Công Hậu', N'conghau2199@gmail.com', N'0382982924', CAST(N'1999-06-21' AS Date), N'Nam', N'Tòa B5, KTX Khu B, Đông Hòa, Dĩ An, Bình Dương', NULL, N'MEMBER')
INSERT [dbo].[LOGIN] ([USERNAME], [PASSWORD], [HOVATEN], [EMAIL], [SDT], [NGAYSINH], [GIOITINH], [DIACHI], [ANHDAIDIEN], [ID_QUYEN]) VALUES (N'conghauqtv', N'123456', N'Hồ Công Hậu', N'conghau2199@gmail.com', N'0382982924', CAST(N'1999-06-21' AS Date), N'Nam', N'Tòa B5, KTX Khu B, Đông Hòa, Dĩ An, Bình Dương', N'avt-user.jpg', N'QTV')
GO
INSERT [dbo].[QUYEN_USER] ([ID_QUYEN], [TENQUYEN]) VALUES (N'ADMIN', N'Adminstrator')
INSERT [dbo].[QUYEN_USER] ([ID_QUYEN], [TENQUYEN]) VALUES (N'MEMBER', N'Member')
INSERT [dbo].[QUYEN_USER] ([ID_QUYEN], [TENQUYEN]) VALUES (N'QTV', N'QTV')
GO
ALTER TABLE [dbo].[BAIHOC]  WITH CHECK ADD  CONSTRAINT [FK_BAIHOC_KHOAHOC] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[BAIHOC] CHECK CONSTRAINT [FK_BAIHOC_KHOAHOC]
GO
ALTER TABLE [dbo].[BINHLUANKHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUANKHOAHOC_KHOAHOC] FOREIGN KEY([MAKH_CMT])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[BINHLUANKHOAHOC] CHECK CONSTRAINT [FK_BINHLUANKHOAHOC_KHOAHOC]
GO
ALTER TABLE [dbo].[DANGKIKHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_DANGKIKHOAHOC_KHOAHOC] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[DANGKIKHOAHOC] CHECK CONSTRAINT [FK_DANGKIKHOAHOC_KHOAHOC]
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK__KHOAHOC__MACD__3D5E1FD2] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[KHOAHOC] CHECK CONSTRAINT [FK__KHOAHOC__MACD__3D5E1FD2]
GO
ALTER TABLE [dbo].[LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_QUYEN_USER] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[QUYEN_USER] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[LOGIN] CHECK CONSTRAINT [FK_LOGIN_QUYEN_USER]
GO
USE [master]
GO
