
@{
	ViewBag.Title = "QuanLyKhoaHoc";
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<title> Quản lý Khóa Học</title>
	<link href="~/Content/css/Admin.css" rel="stylesheet" />
</head>
<body>
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	<br />
</body>
</html>

