.err-null {
	text-align: center;
	color: red;
	margin-top: 10px;
	margin-bottom: -10px;
	font-style: italic;
}

#done {
	color: red;
	text-align: center;
	margin: -40px 0px 20px 0px;
	font-style: italic;
}