.err-null {
	text-align: center;
	color: red;
	margin: 50px 0px 50px 0px;
	font-style: italic;
}

.done {
	text-align: center;
	color: lawngreen;
	font-style: italic;
	font-size: 20px;
}

#title-edit{
	margin-bottom: 80px;
}

#btn-forgot {
	margin: 0px 0px 0px 350px;
	background-color: #0bb732;
	color: white;
	width: 200px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}