@{
	ViewBag.Title = "ChangePassword";
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<title>Thay Đổi Mật Khẩu</title>
	<link href="~/Content/css/ChangePassword.css" rel="stylesheet" />
</head>
<body>
	<div class="form-info">
		<p id="title-edit" >Chức năng đang được phát triển vui vòng quay lại sau!!</p>
	</div>
</body>
</html>
