
@{
	ViewBag.Title = "TrangChu";
	Layout = "~/Views/Shared/_Layout_Custom.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<title>Blog CodeAmaz</title>

	<link href="~/Content/css/Blog.css" rel="stylesheet" />
</head>
<body>
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	đang update
	<br />
	<br />
	<br />
	<br />
</body>
</html>
